@import url('https://fonts.googleapis.com/css2?family=Coda&family=Lato&family=Poppins&display=swap');

#background {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 1;
  background: #4c4c4c;
}

.bgi {
  height: 100vh;
  width: auto;
}

#cardwrap {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

#card {
  z-index: 2;
  position: fixed;
  background: rgba(100,100,100,0.5);
  padding: 30px;
  border-radius: 30px;
  width: 60vw;
  height: 60vh;
  overflow-y: scroll;
  backdrop-filter: blur(20px);
}

.delta {
  font-family: 'Coda', cursive;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 7vh;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 3vh;
  line-height: 32px
}

.delta-status-bump1 {
  height: 20px;
  
}
.delta-status-bump2 {
  height: 100px;
}

.delta-status {
  color: yellow;
}
