.namebox {
    display: block;
    position: absolute;
    top: 80px;
    left: 100px;
    z-index: 3;
}

.video {
    width: 100vw;
    height: 80vh;
    overflow: hidden;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.vidPlayer {
    width: 100vw;
    /*height: 94vh;*/
    position: absolute;
    top: 6vh;
    z-index: 1;
    overflow: hidden;
}

.vidOverlay {
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.514);
    width: 100%;
    height: 94vh;
    position: relative;
}

.headwrapper {
    width: 100vw;
    min-height: 84vh;
}

#underline {
    height: 5px;
    width: 0px;
    background-color: rgb(17, 121, 17);
    animation: underexpand 0.75s ease-out forwards;
}

@keyframes underexpand {
    from {
        width: 0;
    }
    to {
        width: 500px
    }
}

.home-section {
    width: 100%;
    position: relative;
    z-index: 4;
    padding-top: 50px;
    padding-bottom: 50px;
}

.home-header {
    color: rgb(255, 255, 255);
    font-family: Righteous;
    text-align: center;
    padding: 20px;
}

.upper-section-transition {
    display: block;
    width: 100vw;
    height: 435px;
    background-image: url(./img/layeredwaves.svg);
    background-size: 100% 100%;
}
.lower-section-transition {
    display: block;
    width: 100vw;
    height: 431px;
    background-image: url(./img/layeredwaves2.svg);
    background-size: 100% 100%;
}

.video-transition {
    display: block;
    width: 100vw;
    height: 350px;
    background-image: url(./img/videoToContent.svg);
    background-size: 100% 100%;
    z-index: 10;
    position: absolute;
    top: 55vh;
}