@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kufam&display=swap');
/*
Roboto:font-family: 'Roboto', sans-serif;
Alata: font-family: 'Alata', sans-serif;
Kufam (Bold): font-family: 'Kufam', cursive;
*/
.header {
 background-color: black;
 height: 50px;
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: space-between;
 position: sticky;
 top:0;
 bottom: 0;
}

.csi {
 padding: 5px;
}

.titlebox {
 display: flex;
 align-items: center;
}

.headertext {
 font-family: 'Alata', sans-serif;
 color: white;
 font-size: 18pt;
}

.navtext {
 font-family: 'Alata', sans-serif;
 color: white;
 font-size: 14pt;
 padding-right: 5px;
 text-decoration: none;
}

.bodydiv {
 padding: 10px
}

.bodytext {
 font-family: 'Roboto', sans-serif;
 color: black;
 font-size: 13pt;
}

.cbox {
 max-width: 75%;
 margin-left: auto;
 margin-right: auto;
 display: flex;
 margin-bottom: 30px;
}

.bannertext {
 font-family: 'Kufam', cursive;
 font-weight: bold;
 color: black;
 font-size: 24pt;
 margin-left: auto;
 margin-right: auto;
 margin-bottom: 50px;
 text-align: center;
}

.headerimg {
 width: 100%;
 height: auto;
}

.microheader {
background-color: black;
height: 30px;
width: 100%;
display: flex;
align-items: center;
justify-content: space-around;
position: sticky;
top: 50px;
border-top-width: 5px;
border-top-style: solid;
border-color: grey;
}

.buttongrid {
  display: grid;
  max-width: 80%;
  grid-template-columns: auto auto;
  margin-left: auto;
  margin-right: auto;
}

button {
  font-size: 14pt;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background-color: #4CAF50; /* Green */
  border: none;
  border-radius: 8px;
  color: white;
  padding: 15px 32px;
  margin: 5px;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

button:hover {
 background-color: crimson;
 box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
 border-radius: 20px;
}

#wpac-comment {
 max-width: 90%;
 margin-left: auto;
 margin-right: auto;
}

.cimg {
  margin: 0px 10px;
  min-width: 250px;
}

.indent {
 margin-left: 0.5in;
 text-indent: -0.5in;
 font-size: 13pt;
}

.dark-mode {
  background-color: black;
  color: white;
}

#darkable {
 transition: 0.5s;
}

.imgrid {
  display: grid;
  font-family: 'Open Sans', sans-serif;
  justify-items: center;
  text-align: center;
  font-size: 8pt;
  }
