@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
/*
Roboto:font-family: 'Roboto', sans-serif;
Alata: font-family: 'Alata', sans-serif;
*/
.header {
 background-color: black;
 height: 50px;
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: space-between;
}
.csi {
 padding: 5px;
}

.titlebox {
 display: flex;
 align-items: center;
 padding: 5px;
}

.headertext {
 font-family: 'Alata', sans-serif;
 color: white;
 font-size: 18pt;
}
